#public-tag-buttons, #my-tag-buttons {
  display: none;
}

#public-conversations, #my-conversations {
  grid-column: 1/4;
}

.move-icon {
  transform: rotate(-90deg);
}

.public-tag-header, .my-tag-header, .comments-tag-header {
    display: flex !important;
    place-items: baseline;
    background-color: $color-gray-deeper;
    padding: 1rem;
    flex-flow: wrap;
    row-gap: 0.75rem;
    column-gap: 1.25rem;

    button {
      margin-bottom: unset !important;
    }

    #public-tag-choice {
      width: auto;
      border-radius: 5px;
      height: 2.25rem;
      min-width: 13rem;
      margin: 0 .438rem 0 0;
    }

    #my-tag-choice, #my-all-tags, .my-tag-header--add {
      display: none;
    }


    .public-tag-header--add--not-allowed {
      cursor: not-allowed;
    }

    &--add {
      color: $color-white;
      background: $color-theme-report-light-blue;
      border: 3px solid $color-theme-report-light-blue;
      box-sizing: border-box;
      border-radius: 5px;
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      margin: 0 1.5rem 0 0;

      i {
        margin: auto 0.6em;
      }
    }

    &__tags {
      display: flex;
      gap: .75rem;
      flex-flow: wrap;

      &--selected {
        border: 1px solid $color-pink-light;
        background-color: $color-pink-light;
        color: $color-white;
      }

      &--unselected {
        background-color: $color-white;
        border: 1px solid $color-white;
        color: $color-theme-dark-blue;
      }

      &--selected, &--unselected {
        border-radius: 5px;
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0 .75rem;
        height: 1.5rem;
        line-height: 0;
      }
    }

    &__all--unselected {
      border: 1px solid $color-white;
      background-color: $color-white;
      color: $color-pink-light;
    }

    &__all--selected  {
      border: 1px solid $color-pink-light;
      background-color: $color-pink-light;
      color: $color-white;

    }

    &__all--unselected,  &__all--selected  {
      border-radius: 5px;
      font-weight: 700;
      padding: 0 .75rem;
      height: 1.5rem;
      line-height: 0;
    }

    &__tooltip {
      color: $color-white;
      font-size: 1rem;
      display: inline-flex;
      place-items: center;
      padding: .75rem;
      padding-left: 0;
      border-radius: 5px;
      background: $color-pink-light;
      max-width: 16.563rem;
      height: 62px;
      position: relative;
      top: 5px;
      margin-right: 0.313rem;

      &__arrow {
        color: $color-pink-light;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid $color-pink-light;
        border-left: 0;
        position: relative;
        right: .563rem;
      }
    }
}

.comments-tag-header {
  background-color: unset !important;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding: 0;

  &--no-margin {
    margin-left: 0;
  }

  #comments-status-buttons {
    display: contents;
  }
}

.home-header {
  &--add {
    color: $color-theme-report-light-blue !important;
    font-size: 1rem;
  }
}

.my_conversations, .contributions-comments, .contribution-votes {
  margin-bottom: 2.5rem;

  &__message {
    margin: 1.75rem;
    color: $color-theme-report-dark-gray;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 0;

    &--no-margin-top {
      margin-top: 0;
    }
  }
}

#current-votes {
  hr {
    margin-top: 2.281rem;
  }
}

#comments-current-cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 1.625rem;
  grid-row-gap: 1.5rem;
  color: $color-theme-dark-blue;
  font-weight: 500;
}

.contribution-votes {
  &__card {
    margin: 1.75rem 0 0 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.938rem;
    grid-row-gap: 2.25rem;
  }
}

.conversation-summary {
  display: flex;
  margin-bottom: .938rem;

  &__title {
    color: $color-theme-dark-blue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

  .span-icon {
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      margin-left: -5px;
      color: $color-theme-report-light-blue;
  }
}

.comment-summary {
  padding: 1.125rem 1.188rem;
  border-radius: 5px;
  background: $color-theme-report-light-gray;
  max-width: 43.75rem;

  &__status {
    color: $color-pink-light;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__info {
    color: $color-theme-report-dark-gray;
    font-family: Work Sans;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-transform: uppercase;
    display: inline-block;
  }

  &__title {
    margin: 1.25rem 0;
    display: block;
    font-weight: 500;
    line-height: normal;
  }
}

.home-tabs {
  display: flex;
  border-bottom: 1px solid #bababa;
  overflow: unset;
  margin-top: 1.5rem;

  &__add {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 2.625rem;
    padding-bottom: 1.6rem;

    i {
      color: $color-theme-report-light-blue;
      margin: 0 0.688rem 0 0;
    }

    a {
      color: $color-theme-report-light-blue;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .tabs {
    border-bottom: none;
  }
}

.input-container {
  background-color: $color-gray-brigther;
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  gap: 1.313rem;
  padding: 1rem;

  &__filter-theme, &__filter-theme:hover {
    color: $color-theme-osf-light;
    font-family: "Work Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
  }

  &__search {
    border-radius: 5px !important;
    border: 1px solid white !important;
    height: 2.25rem !important;
    box-sizing: border-box;
    background-position: 0.5rem 0.563rem !important;
    background-size: 1.25rem !important;
    background-repeat: no-repeat !important;
    padding: 0.6875rem 0px 0.6875rem 2.1875rem !important;
    background: url('/static/img/icons/blue-search.svg');
    width: 51.5% !important;
    color: $color-black;
    margin: 0px !important;
    font-size: 0.75rem !important;

    &::placeholder {
        color: $color-complementary-gray;
    }
  }

  &__warn-message {
    color: $color-red-negative;
    font-size: 0.75rem;
    font-weight: 400;
    grid-template-columns: none;
    margin-top: 0.2rem;
  }
    @media (max-width: 875px) {
        & {
            flex-wrap: wrap;
            gap: 0;
        }
        &__search {
            min-width: 100% !important;
            margin: 0 0 12px 0 !important;
        }
    }
}

.search-filter-container {
  margin-bottom: 0.5rem;

  @media (max-width: 875px) {
    margin-bottom: 0rem;
    grid-column: 1/4;
  }
}

@media only screen and (max-width: 320px) {
  .public-tag-header, .my-tag-header, .comments-tag-header {

    #public-tag-choice {
      width: 80%;
      margin: 0 .438rem 0 0;
    }

    &--add {
      margin: 0px 0.7rem 0 0;
    }
  }

  .comments-tag-header {
    #all-comments-button {
      margin-left: 0;
    }
  }

  .comment-summary {
    font-size: .75rem;
  }

  #comments-current-cards {
    grid-template-columns: none;
  }

  .contribution-votes {
    &__card {
      grid-template-columns: none;
    }
  }

  .home-tabs {
    overflow: scroll hidden;

    &__add {
      padding-bottom: 1.5rem;
    }
  }
}

@media (max-width: 875px) and (min-width: 321px) {
  .public-tag-header, .my-tag-header, .comments-tag-header {

    &__tooltip {
      &__arrow {
        bottom: 2.1rem;
        transform: rotate(90deg);
        left: 1rem;
      }
    }
  }

  .home-tabs {
    overflow: scroll hidden;
    &__add {
      padding-bottom: 1.5rem;
    }
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
  }

  #comments-current-cards {
    grid-template-columns: none;
  }

  .comment-summary {
    font-size: .75rem;
  }

  .contribution-votes {
    &__card {
      grid-template-columns: none;
    }
  }
}
