{% macro export_modal(conversation, which, cluster=None) %}
{% if cluster %}
  {% set report_url = "dataviz:" + which +"-cluster" %}
{% else %}
  {% set report_url = "dataviz:" + which %}
{% endif %}

<div id="export-data-macro">
  <div>
      <a onclick="toggleExportOptions()" class="export-button">
        <i class="fas fa-file-download"></i>
        <span class="export-button__title">{{_("Export")}}</span>
      </a>
  </div>
  <div id="export-card-id" class="export-button__card hide">
    <div class="export-button__card--triangle"></div>
    <div class="export-button__card-content">
      <span>{{ _("Export") }}</span>
      <span>
        <a href="{{url(report_url, **{"conversation_id": conversation.id, "slug": conversation.slug, "fmt": "json"})}}">json</a>
        <span>{{_("or")}}</span>
        <a href="{{url(report_url, **{"conversation_id": conversation.id, "slug": conversation.slug, "fmt": "csv"})}}">csv</a>
      </span>
    </div>
  </div>
</div>


<script>

function toggleExportOptions() {
  let optionsCard = $("#export-card-id").toggleClass("hide");
}

document.addEventListener('click', function(event) {
  let exportMacro = document.getElementById("export-data-macro");
  if (!exportMacro.contains(event.target)) {
    $("#export-card-id").addClass("hide");
  }
})

</script>

{% endmacro %}
