<div class="dashboard-balloon__container content-grid">
    <h2 class="dashboard-balloon__label center-grid">{{_("Conversation")}}
    <h2 class="dashboard-balloon__title center-grid">{{conversation.text}}</h2>
    <div class="margin-y2"></div>
    <hr class="nav-divider nav-divider--darker">
</div>
