{% extends 'ej_boards/board-create.jinja2' %}
{% set title = _('Edit board') %}
{% set action = _('Save') %}
{% block menu %}{% include 'ej_conversations/includes/welcome-menu.jinja2' %}{% endblock %}
