<div class="manage-stereotypes__actions">
    <button type="button" form="stereotype-form" 
        class="manage-stereotypes__actions-button manage-stereotypes__actions-button--red" 
        name="delete" value="{{_('delete')}}" onclick="showConfirmationDeleteStereotype()">
        <i class="fa">&#xf057;</i>
        {{_('delete persona')}}
    </button>
    <button type="submit" form="stereotype-form" 
        class="manage-stereotypes__actions-button manage-stereotypes__actions-button--gray" 
        id="confirm-edit-button" name="edit" value="{{_('edit')}}" disabled="disabled">
        <i class="fa">&#xf058;</i>
        {{_('save editions')}}
    </button>
</div>

<script>
    function enableEditButton() {
        const saveEditButton = "#confirm-edit-button";
        
        $(saveEditButton).prop("disabled", false);
        $(saveEditButton).removeClass("manage-stereotypes__actions-button--gray");
        $(saveEditButton).addClass("manage-stereotypes__actions-button--blue");
    }
    $("#edit-stereotype-container").keyup(function(e) {
        if ($(this).val() != $(this).data("value")) {
            enableEditButton();
        }
    });

    $("#edit-stereotype-votes-container").click(function(e) {
        enableEditButton();
    });
</script>