<div id="see-edit-personas" class="tabs__tab-content full-width">
    {% if groups %}
        <div class="select-groups-filter">
            {% include 'ej_clusters/stereotype-votes/select-groups-filter.jinja2' %}
        </div>

        <div class="manage-stereotypes__container">
            <div class="manage-stereotypes__container-vote-section">
                <div class="manage-stereotypes__container-header">
                    <div id="edit-stereotype-container" 
                        hx-trigger="load" 
                        hx-get="{{ url('stereotypes:edit', **{'pk': stereotype.id}) }}"
                        hx-swap="innerHTML"
                        hx-target="#edit-stereotype-container">
                    </div>
                    <label>{{_("Votes")}}</label>
                    <p class="helptext">
                        {{_("Select how the persona votes in this conversation.")}}
                    </p>
                </div>
                <div class="stereotype-cards votes-container" id="edit-stereotype-votes-container" 
                    hx-trigger="load" 
                    hx-get="{{ url('boards:stereotype-votes-manage',  pk=stereotype.id, **conversation.get_url_kwargs()) }}"
                    hx-swap="innerHTML"
                    hx-target="#edit-stereotype-votes-container">
                </div>
                {% include 'ej_clusters/stereotype-votes/edit-stereotype-buttons.jinja2' %}            
            </div>
        </div>
        {% include 'ej_clusters/includes/delete-confimation-modal.jinja2' %}
    {% endif %}
</div>