{% extends 'ej_conversations/base.jinja2' %}
{% set main_class = 'measure-wide margin-xauto' %}


{% block content %}
    <section>
        <div class="content-grid header-space">
            <div>
                {% block report %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
