{% macro menu_item(current_page, page, href, title) %}
    {% if page == 'home' %}
        <div class="{{'participant-menu__item participant-menu__item--selected' if current_page is defined and current_page == page else 'participant-menu__item participant-menu__home-link'}}">
            <a href={{ href }}
                >
                <i class="fas fa-home"></i> {{ title }}
            </a>
        </div>
    {% else %}
        <li class={{"participant-menu__item--selected" if current_page is defined and current_page == page else ""}}>
            <div>
                <a href={{href}}>{{ title }}</a>
            </div>
        </li>
    {% endif %}
{% endmacro %}

{% macro board_menu_item(current_page, page, href, board) %}
        <li class={{"participant-menu__item--selected" if current_page is defined and current_page == page else ""}}>
            <a href={{href}}>{{ board.title }}</a>
            <p>({{board.conversations.count()}})</p>
        </li>
{% endmacro %}
