<nav class="floating-menu__section">
    <div class="floating-menu__username">
        {% if request.user.profile|default(None) %}
        <img class="profile-avatar" src="{{ request.user.profile.image_url }}"
        alt="{{ _('Profile picture') }}">
        {% else %}
            <img class="profile-avatar" src="{{ static('img/icons/navbar_profile.svg') }}"
                alt="{{ _('Profile picture') }}">
        {% endif %}
        <div>
            <p>{{request.user.profile.name}}</p>
        </div>
    </div>
</nav>

<nav class="floating-menu__section floating-menu__profile">
    <ul>
        <li>
            <i class="fas fa-id-card"></i>
            <a href="{{ url('profile:detail')}}">{{ _('Profile') }}</a>
        </li>
    </ul>
</nav>

{% if request.user.is_staff or request.user.is_superuser %}
<nav class="floating-menu__section floating-menu__environment"> 
    <ul>
        <li>
            <i class="fas fa-broadcast-tower"></i>
            <a href="{{ url('administration:index')}}">{{ _('EJ Environment') }}</a>
        </li>
    </ul>
</nav>
{% endif %}

<nav class="floating-menu__section floating-menu__logout">
    <form method="post" id="logout-form" action="{{ url('account:logout') }}">
        {{ csrf_input }}
        <i class="fas fa-door-open"></i>
        <a onclick="logout()">{{ _('Logout')}}</a>
    </form>
</nav>

<script>
    var logoutForm = document.getElementById("logout-form");

    function logout() {
        logoutForm.submit();
    }

</script>
