@import 'pagination';

#comment-filters-form {
    margin: unset;
    position: relative;
}

#datatables-container {
    overflow-y: scroll;
    max-height: calc(100vh - 290px);
}

#comments-table-container::-webkit-scrollbar {
    display: none;
}

.comment-report {
    &__comments {
        &--hide {
            display: none;
        }
        table {
            thead {
                position: sticky;
                top: 0;
            }
            thead tr {
                background-color: $color-black;
                color: $color-white;
            }
            thead th {
                padding: 1rem !important;
                text-transform: uppercase;
                i {
                    font-size: 1.2rem;
                }
            }
            tbody tr:nth-child(odd) td:first-child {
                background-color: $color-brand-lighter;
            }
        }
    }

    &__comment {
        padding: 1rem;
        box-sizing: content-box;
        div:first-child {
            color: $color-black;
            margin-bottom: 1rem;
        }
        div:nth-child(2) {
            color: $color-brand;
            font-weight: 600;
        }
        div:nth-child(3) {
            color: $color-accent;
            font-weight: 600;
        }
    }

    &__percentages {
        font-weight: bold;
        color: $color-black;
    }

    &__filters {
        background-color: $color-gray-brigther;
        padding: 1rem 1.5rem;
        box-sizing: content-box;

        &-inputs {
            gap: 1rem;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1200px) {
                & {
                    flex-wrap: wrap;
                }
            }
        }

        .search {
            max-width: 40rem !important;
            width: 100%;
            input {
                    margin: unset;
                    background-image: url("/static/img/icons/gray-search.svg");
                    background-size: 1.4rem;
                    background-position: .625rem;
                    padding: 0 0 0 2.2rem;
                    border-color: $color-gray-brigther !important;
                    border-radius: 10px !important;
                    max-width: 40rem !important;
                    width: 100%;
            }
            @media (max-width: 1200px) {
                & {
                    max-width: unset !important;

                    input {
                        max-width: unset !important;
                    }
                }
            }
        }

        .ordering,
        .clusters-container {
            span {
                cursor: pointer;
                white-space: nowrap;
            }

            span, i {
                text-transform: uppercase;
                color: $color-black;
                font-weight: 600;
            }
        }

        .ordering {
            display: flex;
            align-items: baseline;
            gap: .5rem;
            span {
                width: 100%;
            }
            select {
                cursor: pointer;
                border-color: $color-black !important;
                border: 2px solid $color-black;
                border-radius: .5rem;
                margin: unset;
                min-width: 15em;
                background-color: $color-gray-brigther;

                @media (max-width: 500px) {
                    min-width: unset;
                }
            }
        }

        .clusters-container {
            padding-top: .6rem;
            display: flex;
        }

        .clusters {
            gap: 1rem;
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;

            .cluster {
                content-box: box-sizing;
                padding: .5rem;
                border: 2px solid $color-accent;
                border-color: $color-accent;
                color: $color-accent;
                text-transform: uppercase;
                border-radius: .5rem;
                font-weight: 500;
                cursor: pointer;

                &--active {
                    background-color: $color-accent;
                    color: $color-white;
                }
            }
            select {
                display: none;
            }
        }

        .sorting {
            display: flex;
            align-items: center;
            
            #sort-up-icon {
                top: 0.5rem;
                right: -0.3rem;
            }

            #sort-down-icon {
                margin-left: 0;
            }

            .icon--blue {
                color: $color-theme-dark-blue !important;
            }
        }
    }
}
