::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.scroll-top {
    display: none;

    @media only screen and (max-width: 900px) {
        display: flex;
        background-color: $color-theme-report-blue;
        padding: 2.313rem 0 2.688rem;
        justify-content: center;
        align-items: center;
        gap: 0.813rem;
    }

    i {
        color: $color-white;
        margin: 0;
    }

    a {
        color: $color-white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
    }
}