<div class="opinion-col-1__info">
    <div class="tools-card-body-img">
        <img class="avatar" src="{{ static('/img/icons/opinion-component-icon.svg') }}"/>
    </div>
    <div class="tools-content">
        <span class="tools-card-title">{{ tool.name }}</span>
        <p class="helptext opinion-helptext">{{_("Web component that allows you to integrate EJ into external sites and systems.")}}</p>
    </div>
</div>