{% from "ej_dataviz/reports/includes/filters-macro.jinja2" import filters %}
{% set ordering_options = [["created", _("creation date")], 
    ["agree", _("agree")], ["disagree", _("disagree")], 
    ["skipped", _("skipped")], ["convergence", _("convergence")]] 
%}
{{ filters(clusters, ordering_options) }}

