{% from "ej_dataviz/reports/includes/sort-filter.jinja2" import sort_filter %}
<div class="comment-report__filters">
        <div class="comment-report__filters-inputs">
            <div class="search">
                <input
                value=""
                name="search"
                type="text"
                placeholder="{{_("Search for key word")}}"
                >
            </div>

            <div class="ordering">
                <span>{{_("Order by")}}</span>
                <select
                onchange="htmx.trigger('#comment-filters-form', 'orderChanged')"
                id="ordering-filter"
                name="order-by">
                    <option value="created">{{_("creation date")}}</option>
                    <option value="agree">{{_("agree")}}</option>
                    <option value="disagree">{{_("disagree")}}</option>
                    <option value="skipped">{{_("skipped")}}</option>
                    <option value="convergence">{{_("convergence")}}</option>
                </select>
            </div>

            {{ sort_filter("#comment-filters-form") }}

            <div class="clusters-container" onclick="toogleClusters()">
                <div>
                    <span>{{_("Filter by clusters")}}</span>
                </div>
                <div>
                    <i class="fas fa-angle-double-left"></i>
                </div>
            </div>
        </div>
        <div id="comment-report-clusters" class="hide">
            <div class="clusters">
                {% for cluster in clusters %}
                    <div
                    id="cluster-{{cluster.id}}"
                    onclick="selectCluster('{{cluster.id}}')" class="cluster">
                        {{cluster.name}}
                    </div>
                {% endfor %}
                <select
                    multiple
                    onchange="htmx.trigger('#comment-filters-form', 'clustersChanged')"
                    id="select-clusters"
                    name="clusters">
                    {% for cluster in clusters %}
                        <option disabled value={{cluster.id}}>{{cluster.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
</div>

<script>
    function toogleClusters() {
        let icon = $(".clusters-container i");
        if (icon.hasClass("move-icon")) {
            icon.removeClass("move-icon");
        } else {
            icon.addClass("move-icon");
        }

        let clusters = $("#comment-report-clusters");
        if (clusters.hasClass("hide")) {
            clusters.removeClass("hide");
        } else {
            clusters.addClass("hide");

        }
    }
    function selectCluster(clusterId) {
        let cluster = $(`#cluster-${clusterId}`);
        if (cluster.hasClass("cluster--active")) {
            cluster.removeClass("cluster--active");
        } else {
            cluster.addClass("cluster--active");
        }

        let select = $("#select-clusters")[0];
        let options = select.options;
        for (option of options) {
            if (option.value == clusterId) {
                option.selected = !option.selected;
                select.dispatchEvent(new Event('change'));
            }
        }
    }

</script>
