{% from "ej_dataviz/reports/includes/pagination-macro.jinja2" import pagination %}

<div id="report-table-container">
    <div id="datatables-container">
        <table id="comments-table" class="display cell-border">
            <thead>
                <tr>
                    <th>{{_("Comment content")}}</th>
                    <th><i class="fa fa-check" title={{_("Agree")}}></i></th>
                    <th><i class="fa fa-times" title={{_("Disagree")}}></i></th>
                    <th><i class="fa fa-arrow-right" title={{_("Skipped")}}></i></th>
                    <th><i class="fas fa-handshake" title={{_("Convergence")}}></i></th>
                    <th><i class="fas fa-users" title={{_("Participation")}}></i></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in page %}
                    <tr id="comment-{{loop.index0}}"
                        hx-post="{{ url('dataviz:comments-modal', pk=comment[0]) }}"
                        hx-target="#comments-detail-modal"
                        hx-trigger="click[event.target.matches('#comment-link-{{loop.index0}}')] from:body"
                        hx-vals='{"comments": {{comments}}, "current_index": {{loop.index0}}}'
                    >
                        <td>
                            {{csrf_input}}
                            <div class="report__comment">
                                <div class="report__comment-detail">
                                    <div>{{comment[1]}}</div>
                                    <img id="comment-link-{{loop.index0}}" class="cursor-pointer"
                                        src="{{ static('/img/icons/chart-line-white.svg') }}"
                                    >
                                </div>
                                <div>{{comment[2]}}</div>
                                {% if comment|length > 8 %}
                                    <div>{{comment[8]}}</div>
                                {% endif %}
                            </div>
                        </td>
                        <td class="report__percentages">{{"%s%%"|format(comment[3]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(comment[4]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(comment[5]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(comment[6]|round)}}</td>
                        <td class="report__percentages">{{"%s%%"|format(comment[7]|round)}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination(page) }}

    <script>

        $(document).ready( function () {
            let dataTableOptions = {
                bInfo: false,
                ordering: false,
                destroy: true,
                paging: false,
                searching: false,
                responsive: true,
                columns: [
                    { data: '{{_("Comment")}}', className: 'desktop' },
                    { data: '{{_("Agree")}}', className: 'desktop' },
                    { data: '{{_("Disagree")}}', className: 'desktop' },
                    { data: '{{_("Skipped")}}', className: 'desktop' },
                    { data: '{{_("Convergence")}}', className: 'desktop' },
                    { data: '{{_("Participation")}}', className: 'desktop' },
                ]
            }
            if(window["commentsTable"]) {
                dataTableOptions["destroy"] = true;
                $('#comments-table').DataTable(dataTableOptions);
            } else {
                window["commentsTable"] = $('#comments-table').DataTable(dataTableOptions);
            }
        });
    </script>
</div>

<div id="comments-detail-modal"></div>
