.card-opinion-component {
    display: grid;
    width: 80%;
    height: auto;
    margin-left: 18px;
    padding-right: 1.219rem;
    border: 1px solid $color-theme-grey-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 5px;
    
    button {
        display: flex;
        place-content: center;
        align-items: center;
        justify-content: space-evenly;
        float: right;
    }
}

.opinion-component-card-list {
    display: block; 
    margin-top: 1rem;
    width: 22rem;
    padding: 0 1rem;
}

.h3 {
    &--space {
    margin: 0 0 .625rem 0 !important;	
    }
}

.tabs-space {
    margin-top: 1.25rem;
}

.tools-divider.opinion-divider {
    margin-top: 2.688rem;
}

.opinion-col-1 {
    display: flex; 
    gap: 3.188rem;
    &__info {
        width: 36%;
    }
    .tools-card-body-img img{
        height: 3.313rem;
    }
    .helptext.opinion-helptext {
        color: $color-light-gray; 
        font-size: .875rem; 
        font-style: normal; 
        font-weight: 400; 
        line-height: normal;
        margin-top: 1.25rem;
    }
}

.opinion-col-2 {
    &__subtitle {
        color: $color-light-gray; 
        font-size: 1rem; 
        font-style: normal; 
        font-weight: 400; 
        line-height: normal;
    }
    &__hint {
        color: $color-pink-light; 
        font-weight: bold;
    }

    &__hint-generate {
        color: rgba(0, 0, 0, 0.80);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .form-component {
        &__message {
            margin-top: 0.5rem;
            text-transform: capitalize;

            &__label {
                text-transform: capitalize;
                margin-bottom: 0.5rem;
            }
        }
        .tools-card-footer.opinion-component {
            margin: .75rem 0 0 0 !important;
            display: block !important; 
            float: right;

            .tools-icon-share {
                &__collection-button {
                    border-radius: 5px; 
                    background-color:$color-pink-light; 
                    border-color: $color-pink-light;
    
                    img {
                        width: 16px; 
                        height: 16px;
                    }
                    a {
                        font-size: .75rem; 
                        font-style: normal; 
                        font-weight: 700; 
                        line-height: normal; 
                        text-transform: initial; 
                        color: $color-white;
                    }
                }
            }
        }
    }

    #copy-snippet {
        display: flex;
        width: 100%;
        height: 7.688rem;
        padding: .813rem 1.25rem;
        align-items: flex-start;
        border-radius: 0px 0px 8px 8px; 
        border-color: $color-gray-300; 
        max-width: none; 
        margin: 2.063rem 0 1.188rem; 
        color: $color-gray-500;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    &__copy-button {
        display: inline-flex;
        height: 2.625rem;
        padding: .5rem 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background:$color-theme-report-light-blue; 
        gap: .375rem;
    }

    &__tooltip {
        color: white;
        font-size: 1rem;
        display: inline-flex;
        place-items: center;
        padding: .75rem;
        padding-left: 0;
        border-radius: 5px;
        background: $color-pink-light; 
        max-width: 16.563rem;
        height: 2.75rem; 
        position: relative; 
        top: 5px;

        &__arrow {
            color: $color-pink-light;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right:10px solid $color-pink-light; 
            border-left: 0;
            position: relative;
            right: .563rem;
        }
    }

    #copy-snippet-message {
        display: none;
    }
}

.cke_top {
    padding: 0 !important;
}
