<form id="create-stereotype-form" class="manage-stereotypes__form"
        hx-post="{{ url('stereotypes:create', **{'clusterization_id': clusterization_id}) }}"
        hx-swap="innerHTML"
        hx-target="#create-stereotype-form"       
>
    {{ csrf_input }}
    {# <input type="hidden" name="stereotype" value="{{ stereotype.id }}"> #}
    {{create_form.owner.as_hidden()}}
    <div class="manage-stereotypes__form-input-container">
        <label>{{create_form.name.label}}</label>
        {{create_form.name}}
    </div>
    <div class="manage-stereotypes__form-input-container">
        <label>{{create_form.description.label}}</label>
        {{create_form.description}}
    </div>
</form>

<script>
$(document).on('integrateData', '#create-stereotype-form', function(evt){
    const stereotypeId = evt.detail.value;
    submitVotesFormset(stereotypeId);
});

function showCreateModal(){
    showModal("#confirm-create-stereotype");
}

function submitVotesFormset(stereotypeId) {
    $("#stereotype-id").val(stereotypeId);

    // jquery trigger does not properly uses the javascript dispatchEvent,
    // which is what HTMX intercepts,
    // making it not possible to use it for triggering this form submit
    document.getElementById("votes-formset").requestSubmit();
}

</script>