<form id="stereotype-form" class="manage-stereotypes__form"
        hx-post="{{ url('stereotypes:edit', **{'pk': stereotype.id}) }}"
        hx-swap="innerHTML"
        hx-target="#stereotype-form"
        hx-on::after-request="showEditModal()"
>
    {{ csrf_input }}
    <input type="hidden" name="stereotype" value="{{ stereotype.id }}">
    {{form.owner.as_hidden()}}
    <div class="manage-stereotypes__form-input-container">
        <label>{{form.name.label}}</label>
        {{form.name}}
        {{ form.name.errors }}
    </div>
    <div class="manage-stereotypes__form-input-container">
        <label>{{form.description.label}}</label>
        {{form.description}}
        {{ form.description.errors }}
    </div>
    {{ form.non_field_errors() }}
</form>

<script>

function showEditModal(){
    const body = document.getElementsByClassName("body")[0];
    body.classList.add('overflow-deactive');
    const editModal = $("#confirm-edit-stereotype");
    editModal.removeClass("hide");
    editModal.addClass("show");
}

</script>