{% extends 'base.jinja2' %}
{% set main_class = "board-container" %}
{% block menu %}
    {% include 'ej_conversations/includes/participant-menu.jinja2' %}
{% endblock %}

{% block content %}
{% include 'ej_profiles/home-conversations.jinja2' %}
{% endblock %}
