{% extends 'ej_conversations/base.jinja2' %}
{% block menu %}{% include 'ej_conversations/includes/menu.jinja2' %}{% endblock %}


{% block content %}
    <section>
        <div class="content-grid">
            <h1 class="left text-accent header-space">{% trans %}Configure opinion groups{% endtrans %}</h1>
            <section class="margin-y2">
                {% include 'ej_clusters/edit/select-groups.jinja2'%}
                {% if new_cluster_form %}
                    {% include 'ej_clusters/edit/new-cluster-form.jinja2'%}
                {% endif %}

                {% if edit_cluster %}
                    {% include 'ej_clusters/edit/edit-cluster-form.jinja2'%}
                {% endif %}
            </section>
        </div>
    </section>
{% endblock %}

