{% from "ej_clusters/includes/clusters-generator.jinja2" import clustersGenerator %}
{% set main_class = 'measure-wide margin-xauto pad-x2' %}
<head><script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
{% block css %}{% include 'ej/includes/head/css.jinja2' %}{% endblock %}</head>

{% block content %}
<div class="grouping">
    <section class="grouping__container">
        <h2 class="header-space">{{_("Grouping")}}</h2>
        {% if clusters %}
            <p class="margin-y2 helptext">
                {{_("We use votes to rank users according to their opinions. 
                    Users who vote in a similar way tend to be in the same group.")}}
            </p>
        {% endif %}
    </section>
</div>
<div class="clusters-section stereotypes-section">
    <div class="clusters-section__container clusters-section__container--wide-center {% if not json_data%}clusters-section__detail--padding{%endif%}">
        {% if json_data %}
            <div class="clusters-section__chart">
                <div id="clusters-canvas-container">
                    <canvas id="cluster-canvas" class="block"></canvas>
                </div>
            </div>
            <div class="clusters-section__detail clusters-section__detail--filled">
                <div class="margin-y2">
                    <span class="helptext">{{_("Click on the cluster for more information.")}}</span>
                </div>
                <h2> {{_("In the group")}} {{ biggest_cluster_data.get('name') }}</h2>
                <div>
                    <p class="clusters-section__comment-percentage">{{ biggest_cluster_data.get('percentage') }}%
                        {{_("agree with")}} </p>
                    <p class="clusters-section__main-comment"> {{ biggest_cluster_data.get('content') }}</p>
                </div>
            </div>
            {% else %}
            <div class="clusters-section__detail clusters-section__detail--empty">
                <div>
                    <p class="cluster-section__detail--null clusters-section__detail--no-margin">{{_("Your conversation does not have personas.")}}</p>
                    <p class="bold clusters-section__detail--no-margin">{{_("Without personas, it's not possible to create opinion groups.")}}</p>
                    <p>{{_("After modeling groups, you can check then here.")}}</p>
                </div>
                <div class="conversation-dashboard__button">
                    <a class="button is-primary float-left"
                        href="{{ url('boards:cluster-edit', **conversation.get_url_kwargs()) }}">{{_("Creates groups")}}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="hide"
    hx-trigger="showClusterData from:body"
    hx-vals="js:{cluster_id: event.detail.cluster_id}"
    hx-get="{{url("dataviz:cluster-detail", **{"conversation_id": conversation.id, "slug": conversation.slug})}}"
    hx-target="#cluster-details"
    hx-on::after-request='showClusterModal()'
    >
</div>
<div id="cluster-details" class="hide">
    {% include 'ej_dataviz/dashboard/cluster-detail.jinja2' %}
</div>
{% endblock %}

{% if json_data %}
    {{ clustersGenerator(json_data) }}
{% endif %}