{% from "ej_clusters/includes/clusters-generator.jinja2" import clustersGenerator %}
{% set main_class = 'measure-wide margin-xauto pad-x2' %}

{% block content %}
<div class="stereotypes-section">
    <section class="stereotypes-section__container">
        <h2 class="bold">{{_("Opinion Groups")}}</h2>
    </section>
</div>

<div class="clusters-section stereotypes-section">
    <div class="clusters-section__container clusters-section__container--wide-center {% if not json_data%}clusters-section__detail--padding{%endif%}">
        {% if json_data and num_groups > 1 %}
            <div class="clusters-section__chart">
                <div id="clusters-canvas-container">
                    <canvas id="cluster-canvas" class="block"></canvas>
                </div>
            </div>
            <div class="clusters-section__detail clusters-section__detail--filled">
                <div class="margin-y2">
                    <span class="helptext">{{_("Click on the cluster for more information.")}}</span>
                </div>
                <h2> {{_("In the group")}} {{ biggest_cluster_data.get('name') }}</h2>
                <div>
                    <p class="clusters-section__comment-percentage">{{ biggest_cluster_data.get('percentage') }}%
                        {{_("agree with")}} </p>
                    <p class="clusters-section__main-comment"> {{ biggest_cluster_data.get('content') }}</p>
                </div>
            </div>
        {% else %}
            <div class="stereotypes-section__no-groups">
                <p>{{_("the graph will be generated and displayed here after")}}</p>
                <p>{{_("creating the second persona")}}</p>
            </div>
        {% endif %}
    </div>
</div>

<div class="hide"
    hx-trigger="showClusterData from:body"
    hx-vals="js:{cluster_id: event.detail.cluster_id}"
    hx-get="{{url("dataviz:cluster-detail", **{"conversation_id": conversation.id, "slug": conversation.slug})}}"
    hx-target="#cluster-details"
    hx-on::after-request='showClusterModal()'
    >
</div>
<div id="cluster-details" class="hide">
    {% include 'ej_dataviz/dashboard/cluster-detail.jinja2' %}
</div>
{% endblock %}

{% if json_data %}
    {{ clustersGenerator(json_data) }}
{% endif %}
