{% extends 'ej_dataviz/reports/base.jinja2' %}
{% block menu %}{% include 'ej_conversations/includes/menu.jinja2' %}{% endblock %}
{% set main_class = 'report-container measure-wide margin-xauto' %}
{% set main_class = "report-container" %}


{% block report %}
    <section class="conversation-dashboard" >
        <div id="" class="conversation-dashboard scatter-section flex wrap">
            {% include 'ej_dataviz/dashboard/scatter.jinja2' %}
        </div>
    </section>
{% endblock %}
