<p>{{_("More informations")}}</p>

<span>{{_("Cluster")}}</span>
<p>{{group}}</p>

<span>{{_("Date of participation in the conversation")}}</span>
<p>{{ conversation.user_participation_date.strftime('%d/%m/%Y') }}</p>
{# todo Users df {{users}} não vai printar ms vai usar pra passar pro previous e next #}

<span>{{_("Votes in the conversation")}}</span>
<p>{{conversation.n_user_votes}}</p>

<span>{{_("Comments in the conversation")}}</span>
<p>{{conversation.n_user_total_comments}}</p>

<span>{{_("Full name")}}</span>
<p>{{ user.name }}</p>

<span>{{_("Birth date")}}</span>
{% if user.get_profile().birth_date %}
    <p>{{ user.get_profile().birth_date }}</p>
{% else %}
    <p></p>
{% endif %}

<span>{{_("E-mail")}}</span>
<p>{{ user.email }}</p>

<span>{{_("City")}}</span>
{% if user.get_profile().city %}
    <p>{{ user.get_profile().city }}</p>
{% else %}
    <p></p>
{% endif %}


<p>{{_("Previous")}} {{ previous_email }}</p>
<p>{{_("Next")}} {{ next_email }}</p>