<div class="report-card--external report-card--margin-sm center-grid">
    <div class="report-card">
        <div class="flex-align flex wrap">
            <div class="report-card__label bold">{{_("Total of participants")}}</div>
            <div class="dashboard-card__value dashboard-card__value--white">{{participants_statistics.get('voters')}}</div>
        </div>
        <div class="report-card__button conversation-dashboard__button">
            <a class="button is-primary" href="{{url('boards:dataviz-users',  **conversation.get_url_kwargs())}}">{{_("Participants report")}}</a>
        </div>
    </div>
</div>
