{% from "ej_dataviz/reports/includes/export-data.jinja2" import export_modal %}

<div class="center-grid">
    <div class="conversation-dashboard conversation-dashboard-section__title flex export-button__header">
        <h1 class="text-accent">{{_('Voting')}}</h1>
        {{ export_modal(conversation, 'votes_data')}}
    </div>
</div>
<div class="voting-section__container center-grid">
    <section class="flex dashboard-card__container">
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('agree')}}</div>
                <div class="dashboard-card__title">{{_("agreed")}}</div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('disagree')}}</div>
                <div class="dashboard-card__title">{{_("disagreed")}}</div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card__value">{{voting_statistics.get('skip')}}</div>
                <div class="dashboard-card__title">{{_("skip")}}</div>
            </div>
            <div class="dashboard-card dashboard-card--blue">
                <div class="dashboard-card__value">{{voting_statistics.get('total')}}</div>
                <div class="dashboard-card__title">{{_("votes")}}</div>
            </div>
    </section>
</div>

