#sort-down-icon, #sort-up-icon {
    width: 1rem;
    height: 0.688rem;
    position: relative;
    color: $color-navigation-header;
}

#sort-down-icon {
    bottom: 0.25rem;
    margin-right: 0;
}

#sort-up-icon {
    margin: 0;
}

.select-groups-filter {
    @media only screen and (max-width: 900px) {
        & {
            grid-column: 1 / 4;
        }
    }
}

#pagination-create, #pagination-edit {
    display: none;

    @media only screen and (max-width: 900px) {
        display: block;
        height: 1.313rem;

        & {
            ul {
                list-style: none;
                display: flex;
                gap: 1rem;
                margin-bottom: 0;
                justify-content: center;
                font-size: 0.88em;

                li {
                    margin-bottom: 0;
                }

                .current {
                    color: $color-white;
                    border-radius: 1.25rem;
                    padding: 0.25rem 0.5625rem;
                    background-color: $color-theme-report-blue;
                }

                .prev, .next {
                    background-color: transparent;
                    color: $color-theme-report-blue !important;
                    padding: 0;
                    font-weight: 700 !important;
                }

                .active, .page-link, .current {
                    color: $color-white;
                    font-weight: 500;
                }

                .page-link, .page-link:hover{
                    color: $color-theme-report-blue;
                }
            }
        }
    }
}

.footer-stereotypes {
    display: none;

    @media only screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
            gap: 0.813rem;
            margin: 1.094rem 0 0;
        }
    }

    #pagination-text-create, #pagination-text-edit {
        @media only screen and (max-width: 900px) {
            & {
                color: $color-theme-report-blue;
                font-size: 0.875em;
                font-weight: 500;
                border-radius: 0;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.divider-section {
    border-bottom: 1px solid $color-theme-report-gray;
    padding-bottom: 0;
    display: none;

    @media (max-width: 320px) {
        display: block;
    }

    @media (max-width: 875px) and (min-width: 321px) {
        display: block;
    }
}

.groups-filter {
    margin-bottom: 0;
    background-color: $color-gray-deeper;
    padding: 1rem 1rem 0.375rem;

    @media only screen and (max-width: 900px) {
        & {
            background-color: $color-gray-white;
            display: grid;
            grid-template-columns: 3% auto 3%;
            padding: 1rem 0 0.375rem;
        }
    }

    &__container {
        grid-column: 2;
    }

    &__group, &__group:hover {
        background: $color-white;
        border: none;
        box-sizing: border-box;
        border-radius: 0.313rem;
        font-weight: 600;
        font-size: 0.75em;
        line-height: 0;
        color: $color-theme-dark-blue;
        padding: 0 0.75rem;
        margin: 0 0.75rem 0.625rem 0;
        box-shadow: none;
        height: 1.5rem;
        letter-spacing: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 14.375rem;
        min-width: 0;
    }

    &--selected {
        background: $color-accent !important;
        border: none !important;
        color: $color-white !important;
    }
}

.manage-stereotypes {
    h2 {
        margin-top: 1.5rem;
    }

    h1 {
        @media only screen and (max-width: 900px) {
            font-size: 1.25em;
        }
    }

    .helptext {
        margin: 1rem 0 2.125rem;
    }

    &__helptext-alt {
        margin: 0 0 1.5rem 0 !important;
    }

    &__container {
        background-color: $color-navigation-menu-background;
        padding: 0 1.5rem;

        @media only screen and (max-width: 900px) {
            grid-column: 1 / 4;
            background-color: $color-gray-white;
            padding: 0;
        }

        &-header {
            label {
                margin-bottom: 1rem;
                font-size: 1em;
                text-transform: none;
                color: $color-theme-dark-blue;
                font-weight: 400;
            }
        }

        &-vote-section {
            @media only screen and (max-width: 900px) {
                display: grid;
                grid-template-columns: 3% auto 3%;

                & > * {
                    grid-column: 2;
                }
            }
        }
    }

    &__form {
        display: flex;
        gap: 1.5rem;
        margin: 2.25rem 0 3.125rem;
        flex-direction: column;

        @media only screen and (max-width: 900px) {
            margin: 0.375rem 0 1.5rem;
        }

        &-input-container {
            input {
                margin: 0;
                margin-top: 0 !important;
                width: 50%;

                @media only screen and (max-width: 900px) {
                    width: 100%;
                }
            }

            textarea {
                margin: 0;
                width: 100%;
                border-radius: 0.3125rem;
                resize: none;
            };
        }
    }

    &__actions {
        display: flex;
        gap: 2.25rem;
        margin: 3rem 0;
        justify-content: center;

        @media only screen and (max-width: 900px) {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            margin: 1.875rem 0 2.625rem;
        }

        &-button {
            width: 15.375rem;
            height: 3.25rem;
            border-radius: 4.375rem;
            font-weight: 500;
            letter-spacing: 0;
            font-size: 1em;
            border: none;
            text-transform: lowercase;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            &--green {
                background-color: $color-theme-report-green;
            }

            &--gray {
                background-color: $color-gray-darker;
            }

            &--red {
                background-color: $color-red-negative;
            }

            &--blue {
                background-color: $color-theme-dark-blue;
            }
        }
    }

    &__grouping {
        @media only screen and (max-width: 900px) {
            display: grid;
            grid-template-columns: 3% auto 3%;
            grid-column: 1 / 4;
        }
    }
}

.votes-container {
    max-height: 30rem;
    overflow-y: scroll;
    padding-right: 1.375rem;

    @media only screen and (max-width: 900px) {
        & {
            padding-right: 0;
            overflow-y: unset;
            max-height: unset;
        }
    }
}

.votes-container::-webkit-scrollbar {
    @media only screen and (min-width: 900px) {
        & {
            width: 0.438rem;
        }
    }
}

.votes-container::-webkit-scrollbar-track {
    @media only screen and (min-width: 900px) {
        & {
            background-color: #D9D9D9;
        }
    }
}

.votes-container::-webkit-scrollbar-thumb {
    @media only screen and (min-width: 900px) {
        & {
            background-color: $color-bright-blue;
            border-radius: 0.438rem;
        }
    }
}

.stereotypes-section {
    @media only screen and (max-width: 900px) {
        grid-column: 2;
    }

    &__container {
        margin: 0 0 1.5rem;
        @media only screen and (max-width: 900px) {
            grid-column: 2;
        }
    }
}

.stereotypes-section {
    @media only screen and (max-width: 900px) {
        margin-bottom: 0;
    }

    &__no-groups {
        font-weight: 600;
        color: $color-theme-dark-blue;
        font-size: 0.75em;
        text-transform: uppercase;
        line-height: 162.6%;
        padding: 9.688rem 8.5rem;
        text-align: center;

        @media only screen and (max-width: 900px) {
            height: 18.75rem;
            padding: 5.625rem 0;
        }

        p {
            margin-bottom: 0;
        }

    }
}

.stereotype-cards {
    form {
        margin-bottom: 0;
    }

    &__card-comments {
        height: fit-content;
        background-color: $color-white;
        border-radius: 0.313rem;
        margin-bottom: 0.7543rem;
        text-align: center;

        @media only screen and (max-width: 900px) {
            & {
                padding: 1.125rem 0.625rem;
                border-radius: 0;
                margin: 0;
            }
        }
    }

    p {
        padding: 1.375rem 1.375rem 1.25rem;
        margin: 0;
        font-size: 1em;
        line-height: 1.438rem;
        overflow-wrap: anywhere;

        @media only screen and (max-width: 900px) {
            & {
                padding: 0 0 1.313rem;
                text-align: left;
            }
        }
    }

    &__vote-buttons {
        padding-bottom: 1.438rem;
        display: grid;
        grid-gap: 3rem;
        justify-content: center;
        grid-template-columns: repeat(4, auto);

        @media only screen and (max-width: 900px) {
            & {
                grid-template-columns: repeat(3, auto);
                padding-bottom: 1.655rem;
                grid-row-gap: 0.5rem;
            }
        }

        i {
            margin: auto 0.4em;
        }

        button:hover {
            box-shadow: 0 0;
        }

        button {
            @media only screen and (max-width: 900px) {
                & {
                    width: 3.773rem;
                    font-size: 0.875em;

                    i {
                        display: block;
                    }
                }
            }
        }

        &__delete {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 1em;
            line-height: 1.188rem;
            text-decoration-line: underline;
            color: $color-gray-darker;
            text-transform: none;

            @media only screen and (max-width: 900px) {
                & {
                    display: none;
                }
            }

            &--icon-1, &--icon--1, &--icon-0 {
                display: contents;

                @media only screen and (min-width: 900px) {
                    & {
                        display: none;
                    }
                }

                img {
                    width: 1.25rem;
                    justify-self: center;
                }
            }

            &--icon-1 {
                img {
                    grid-column: 1;
                }
            }

            &--icon-0 {
                img {
                    grid-column: 2;
                }
            }

            &--icon--1 {
                img {
                    grid-column: 3;
                }
            }
        }
    }

    .is-clear {
        text-transform: lowercase;
    }
}

.agree-1, .disagree--1, .skip-0 {
    width: 8rem;
    height: 2.375rem !important;
    border-radius: 0.313rem;
    color: $color-white !important;
    text-transform: lowercase !important;

    @media only screen and (max-width: 900px) {
        & {
            width: 5.188rem !important;
            height: 3.313rem !important;
        }
    }
}

.agree-1 {
    background: $color-agree !important;
}

.disagree--1 {
    background-color: $color-disagree !important;
}

.skip-0 {
    background-color: $color-bright-blue !important;
}

.pointer-1 {
    .tabs-container {
        cursor: not-allowed;

        #see-edit-personas-tab {
            pointer-events: none;
        }
    }
}
